<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div>
        <% if( usuario == userPost ) { %>
            <form action="/producto/edit/<%= data._id %>" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="text" name="nombre" class="form-control" value="<%= data.nombre %>" id="exampleFormControlInput1" placeholder="Tela amarilla" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Descripcion</label>
                    <input type="text" name="descripcion" class="form-control" value="<%= data.descripcion %>" id="exampleFormControlInput1" placeholder="Escribe tu descripcion" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Precio</label>
                    <input type="number" name="precio" class="form-control" value="<%= data.precio %>" id="exampleFormControlInput1" placeholder="Tela amarilla" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Stock</label>
                    <input type="number" name="stock" class="form-control" value="<%= data.stock %>" id="exampleFormControlInput1" placeholder="Tela amarilla" required>
                </div>
                <div class="form-check">
                    <input name="estado" class="form-check-input" type="radio" value="<%= data.estado %>" name="exampleRadios" id="exampleRadios1" value="true" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Disponible
                    </label>
                </div>
                <div class="form-check">
                    <input name="estado" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false">
                    <label class="form-check-label" for="exampleRadios2">
                      No disponible
                    </label>
                </div>
                <% if( data.image === null ) { %>

                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                        width="400px" height="400px" />
                    <br/>
                    <input type="file" name="image" required/>
                    <% } else { %>
                        <img src="https://imageuploadcv.s3.us-east-2.amazonaws.com/<%= data.ruta %>" width="400px" height="400px" />
                        <br/>
                        <input type="file" name="image" required/>
                        <% } %>
                            <br/>
                            <input type="submit" class="btn btn-primary" value="Modificar" />
                            <a href="/delprod/<%= data._id %> " class="btn btn-primary">Eliminar</a>
                            <a href="/productos" class="btn btn-primary">Volver</a>
            </form>
            <% } else { %>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input type="text" name="nombre" class="form-control" value="<%= data.nombre %>" id="exampleFormControlInput1" placeholder="Tela amarilla" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Descripcion</label>
                        <input type="text" name="descripcion" class="form-control" value="<%= data.descripcion %>" id="exampleFormControlInput1" placeholder="Escribe tu descripcion" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio</label>
                        <input type="number" name="precio" class="form-control" value="<%= data.precio %>" id="exampleFormControlInput1" placeholder="Tela amarilla" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Stock</label>
                        <input type="number" name="stock" class="form-control" value="<%= data.stock %>" id="exampleFormControlInput1" placeholder="Tela amarilla" readonly>
                    </div>
                    <p>
                        <% if(data.estado === false){ %>
                            <p>No Disponible</p>
                            <% }else{ %>

                                <p>Disponible</p>

                                <% } %>

                    </p>
                    <a href="/producto/comentarios/<%= data._id  %>" class="btn btn-secondary">Ver Comentarios</a>
                    <a href="/productos" class="btn btn-primary">Volver</a>
                </form>
                <%  } %>

                    <br/>
                    <br/>
    </div>

    <br/>


</body>

</html>