<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/misproductos">Mis Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Como_funciona">Como Funciona</a>
                </li>
            </ul>
            <form method="GET" action="/productos/buscar" class="form-inline my-2 my-lg-0">
                <a href="/addprod" class="btn btn-secondary mr-sm-2">Agregar Producto</a>
                <input class="form-control mr-sm-2" type="text" name="busqueda" placeholder="Buscar">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <h1>Estas en productos</h1>
    <!-- <a href="/addprod " class="btn btn-primary ">+</a>
    <form method="GET " action="/productos/buscar ">
        <input type="text " name="busqueda " placeholder="Buscar producto ">
        <input type="submit " value="Buscar " class="btn btn-primary ">
    </form> -->

    <!-- <form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">First</th>
                    <th scope="col ">Last</th>
                    <th scope="col ">Precio</th>
                </tr>
            </thead>


            <tbody>
                <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td><strong><%= data[i].nombre %></strong></td>
                        <td>
                            <%= data[i].descripcion %>
                        </td>
                        <td>
                            <%= data[i].precio %>
                        </td>
                        <td>
                            <%= data[i]._id %>
                        </td>
                        <td>
                            <a href="/producto/edit/<%= data[i]._id %>" class="btn btn-primary">Editar</a>
                        </td>
                        <td>
                            <a href="/producto/detalles/<%= data[i]._id %>" class="btn btn-primary">Ver</a>
                        </td>
                        <td>
                            <a href="/delprod/<%= data[i]._id %>" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>

        </table>

    </form> -->




    <div class="row card-header">
        <% for(var i=0; i < data.length; i++) { %>
            <div class="col-sm-6">
                <div class="card" style="width: 40rem;">
                    <% if( data[i].image === null ) { %>

                        <img class="card-img-top" src="/images/no-image.png" />

                        <% } else{ %>
                            <img class="card-img-top" src="https://imageuploadcv.s3.us-east-2.amazonaws.com/<%= data[i].ruta %>" width="400px" height="400px" />
                            <% }  %>

                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= data[i].nombre %>
                                    </h5>
                                    <p class="card-text">
                                        <%= data[i].descripcion %>
                                    </p>
                                    <a href="/producto/detalles/<%= data[i]._id %>" class="btn btn-primary">Ver Detalles</a>
                                    <a href="/producto/edit/<%= data[i]._id %>" class="btn btn-primary">Editar</a>
                                    <a href="/delprod/<%= data[i]._id %>" class="btn btn-danger">Eliminar</a>
                                </div>
                </div>
            </div>
            <% } %>
    </div>

</body>

</html>