<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <h1>Bienvenido Perfil</h1>
        <% if( usuario ) %>
            <p>
                <%= usuario._id %>
            </p>
            <p>
                <%= usuario.nombres %>
            </p>
            <p>
                <%= usuario.apellidos %>
            </p>
            <p>
                <%= usuario.email %>
            </p>

            <% if( usuario.image === null ) { %>

                <img src="/images/profile-default.png" width="400px" height="400px" />

                <% } else if ( usuario.image > 0 ){ %>
                    <img src="https://imageuploadcv.s3.us-east-2.amazonaws.com/<%= usuario.ruta %>" width="400px" height="400px" />
                    <% } else { %>
                        <img src="<%= usuario.image %>" width="400px" height="400px" />
                        <% }  %>
                            <br/>
                            <a href="/productos">PRODUCTOS</a>
                            <% if( usuario.role == 'ADMIN_ROLE' ) { %>
                                <a href="/admin/admin_user">USUARIOS</a>
                                <% } %>

                                    <a href="/editar/profile/<%= usuario._id %>">Editar</a>
                                    <a href="/logout">Salir</a>
    </form>
</body>

</html>