<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Perfil de usuario</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/index.html">Lematex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">PERFIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">PRODUCTOS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myproducts">MIS PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COMO FUNCIONA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      OPCIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/editar/profile/<%= usuario._id %>">EDITAR PERFIL</a>
                        <a class="dropdown-item" href="/logout">LOGOUT</a>
                        <div class="dropdown-divider"></div>
                        <% if( usuario.role == 'ADMIN_ROLE' ) { %>
                            <a class="dropdown-item" href="/admin/admin_user">USUARIOS</a>
                            <% } %>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <form>
        <br/>
        <br/>

        <div class="container bg-light">
            <div class="container bg-transparent">
                <div class="row">

                    <div class="col">
                        <h1>Codigo del usuario</h1>
                        <p>
                            <%= data._id %>
                        </p>
                        <h1>Nombres</h1>
                        <p>
                            <%= data.nombres %>
                        </p>
                        <h1>Apellidos</h1>
                        <p>
                            <%= data.apellidos %>
                        </p>
                        <h1>Correo</h1>
                        <p>
                            <%= data.email %>
                        </p>
                    </div>
                    <div class="col-5">

                        <% if( data.image === null ) { %>

                            <img src="/images/profile-default.png" width="400px" height="380px" />
                            <br/>
                            <% } else if ( data.image > 0 ){ %>
                                <img src="https://imageuploadcv.s3.us-east-2.amazonaws.com/<%= data.ruta %>" width="400px" height="380px" />
                                <br/>
                                <% } else { %>
                                    <img src="<%= data.image %>" width="400px" height="380px" />
                                    <br/>
                                    <% } %>

                                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>